<li class="dropdown  <%= @active_menu == "users" ? "active" : "" %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
    role="button" aria-haspopup="true" aria-expanded="false">
      User
  </a>
  <ul class="dropdown-menu">
      <li><%= link_to 'User Management', users_path if policy(User).index? %></li>
  </ul>
</li>
