<li class="dropdown  <%= @active_menu == "items" ? "active" : "" %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
    role="button" aria-haspopup="true" aria-expanded="false">
      Item
  </a>
  <ul class="dropdown-menu navmenu-nav">
    <li><%= link_to 'Item Management', items_path if policy(Item).index? %></li>
  </ul>
</li>
