<li class="dropdown  <%= @active_menu == "users" ? "active" : "" %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
    role="button" aria-haspopup="true" aria-expanded="false">
      Store
  </a>
  <ul class="dropdown-menu navmenu-nav">
      <li><%= link_to 'Store Management', stores_path if policy(Store).index? %></li>
  </ul>
</li>
